{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
    <!--中间文章主体部分-->
    <main id="main" class="main">
      <div class="main-inner">
        <div class="content-wrap">
          <div id="content" class="content">

              <section id="posts" class="posts-expand">
            {% for i in article %}
                  <article class="post post-type-normal " itemscope itemtype="http://schema.org/Article">
                    <link itemprop="mainEntityOfPage" href="http://blog.didiaoyuan.com/2017/12/09/自我反思-17-12-9/">
                    <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <meta itemprop="name" content="didiaoyuan">
                      <meta itemprop="description" content="">
                      <meta itemprop="image" content="/images/me.jpg">
                    </span>
                    <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                      <meta itemprop="name" content="宅神的博客">
                    </span>
                      <header class="post-header">
                          <h2 class="post-title" itemprop="name headline">
                                <a class="post-title-link" href="/2017/12/09/自我反思-17-12-9/" itemprop="url">{{ i.title }}</a>
                          </h2>
                        <div class="post-meta">
                          <span class="post-time">
                              <span class="post-meta-item-icon">
                                <i class="fa fa-calendar-o"></i>
                              </span>
                                <span class="post-meta-item-text">发表于</span>
                              <time title="创建于" itemprop="dateCreated datePublished" datetime="2017-12-09T19:11:15+08:00">
                                {{ i.create_date }}
                              </time>
                          </span>
                          <span class="post-category" >
                              <span class="post-meta-divider">|</span>
                              <span class="post-meta-item-icon">
                                <i class="fa fa-folder-o"></i>
                              </span>
                              <span class="post-meta-item-text">分类于</span>
                              <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
                                <a href="/categories/{{ i.category_id }}" itemprop="url" rel="index">
                                  <span itemprop="name">{{ i.category }}</span>
                                </a>
                              </span>
                          </span>

                          <span id="/2017/12/09/自我反思-17-12-9/" class="leancloud_visitors" data-flag-title="自我反思-17-12-9">
                           <span class="post-meta-divider">|</span>
                           <span class="post-meta-item-icon">
                             <i class="fa fa-eye"></i>
                           </span>

                             <span class="post-meta-item-text">阅读次数 </span>

                             <span class="leancloud-visitors-count">{{ i.views }}</span>
                          </span>
                        </div>
                      </header>

                    <div class="post-body" itemprop="articleBody">
                        {{ i.content | truncatewords:"20"}}
                          <!--noindex-->
                          <div class="post-button text-center">
                            <a class="btn" href="/article/{{ i.slug}}" rel="contents">
                              阅读全文 &raquo;
                            </a>
                          </div>
                          <!--/noindex-->
                    </div>
                    <div></div>
                    <div></div>
                    <footer class="post-footer">
                        <div class="post-eof"></div>
                    </footer>
                  </article>
            {% endfor %}
              </section>

              <!--分页器-->
{#              <nav class="pagination">#}
{#                <span class="page-number current">1</span><a class="page-number" href="/page/2/">2</a><span class="space">&hellip;</span><a class="page-number" href="/page/14/">14</a><a class="extend next" rel="next" href="/page/2/"><i class="fa fa-angle-right"></i></a>#}
{#              </nav>#}

          </div>

        </div>

{#          <div class="sidebar-toggle">#}
{#            <div class="sidebar-toggle-line-wrap">#}
{#              <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>#}
{#              <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>#}
{#              <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>#}
{#            </div>#}
{#          </div>#}

          {% include 'layout/info.html' %}
      </div>
    </main>
{% endblock %}