{% load staticfiles %}

<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="header-inner">
            <div class="site-brand-wrapper">
            <!--左侧博客名及个人签名-->
              <div class="site-meta ">


                <div class="custom-logo-site-title">
                  <a href="/" class="brand" rel="start">
                    <span class="logo-line-before"><i></i></span>
                    <span class="site-title">宅神的博客</span>
                    <span class="logo-line-after"><i></i></span>
                  </a>
                </div>
                <h1 class="site-subtitle" itemprop="description">敲代码的扫地僧</h1>

              </div>

              <div class="site-nav-toggle">
                <button>
                  <span class="btn-bar"></span>
                  <span class="btn-bar"></span>
                  <span class="btn-bar"></span>
                </button>
              </div>

            </div>

            <!--导航菜单-->
            <nav class="site-nav">
        <ul id="menu" class="menu">
            <li class="menu-item menu-item-home">
              <a href="/" rel="section">
                  <i class="menu-item-icon fa fa-fw fa-home"></i> <br />
                首页
              </a>
            </li>
            <li class="menu-item menu-item-categories">
              <a href="/categories/" rel="section">
                  <i class="menu-item-icon fa fa-fw fa-th"></i> <br />
                分类
              </a>
            </li>


            <li class="menu-item menu-item-about">
              <a href="/about/" rel="section">

                  <i class="menu-item-icon fa fa-fw fa-user"></i> <br />

                关于
              </a>
            </li>


            <li class="menu-item menu-item-archives">
              <a href="/archives/" rel="section">

                  <i class="menu-item-icon fa fa-fw fa-archive"></i> <br />

                归档
              </a>
            </li>


            <li class="menu-item menu-item-tags">
              <a href="/tags/" rel="section">

                  <i class="menu-item-icon fa fa-fw fa-tags"></i> <br />

                标签
              </a>
            </li>


            <li class="menu-item menu-item-guestbook">
              <a href="/comments/" rel="section">

                  <i class="menu-item-icon fa fa-fw fa-heartbeat"></i> <br />

                留言板
              </a>
            </li>



            <li class="menu-item menu-item-search">

                <a href="javascript:;" class="popup-trigger">


                  <i class="menu-item-icon fa fa-search fa-fw"></i> <br />

                搜索
              </a>
            </li>

        </ul>

         <div class="site-search">

      <div class="popup local-search-popup">
      <div class="local-search-header clearfix">
        <span class="search-icon" id="searcher">
          <i class="fa fa-search"></i>
        </span>
        <span class="popup-btn-close">
          <i class="fa fa-times-circle"></i>
        </span>
        <div class="local-search-input-wrapper">
          <input autocapitalize="off" autocomplete="off" autocorrect="off" placeholder="搜索..." spellcheck="false" type="text" id="local-search-input">
        </div>
      </div>
      <div id="local-search-result">
          <div id="no-result">
              <i class="fa fa-search fa-5x"></i>
          </div>
      </div>
    </div>



        </div>


    </nav>
        </div>
    </header>
